<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
{% block content %}
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="submit">
    {{form.errors}}
</form>


{% for task in tasks %}
{% if task.complated == 'True' %}
<strike>{{ task.title }}</strike>
{% else %}
<span>{{ task.title }}</span>
<span>{{ task.complated }}</span>
{% endif %}
<a href="{% url 'updatetodo' task.id %}">update</a>
{% endfor %}
{% endblock %}

</body>
</html>